<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <style>
        .lo{
          padding:150px;
          font-size: 30px;
        }

        body {
           background-image: url('/static/img/3logo-2-RPHA-71-Teaser-last.jpg');
           background-size: cover;
        }

    </style>
</head>
<body>
<form class="lo" action="login/" method="get">
  <label style="color:white;">Email:</label><br>
  <input style="height:35px; width:260px;"  type="email"  name="email" placeholder="enter your email">
    <br><br>
  <label style="color:white;">Password:</label><br>
  <input style="height:35px; width:260px;"  type="password" name="password" placeholder="enter your password"><br>
<br>
  <input style="height:35px;"  type="submit" value="Submit" >
</form>
</body>
</html>