<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new project</title>
    <style>
        .ji{
        padding:100px;
          font-size: 30px;
        }
        body {
  background-image: url('/static/img/pexels-mixu-1323208.jpg');

  background-size: cover;
}

    </style>
</head>
<body>
<form class="ji" action="register/" method="post">
  <label style="color:white;">username:</label><br>
  <input style="height:35px; width:260px;" type="text" name="username" placeholder="username"><br><br>
  <label style="color:white;">First name:</label><br>
  <input style="height:35px; width:260px;" type="text" id="fname" name="first name" placeholder="enter your first name"><br><br>
  <label style="color:white;">Last name:</label><br>
  <input style="height:35px; width:260px;" type="text" id="lname" name="last name" placeholder="enter your last name"><br><br>
  <label style="color:white;">password:</label><br>
  <input style="height:35px; width:260px;" type="password" id="lname" name="password" placeholder="enter your password"><br><br>
  <label style="color:white;">confirm password:</label><br>
  <input style="height:35px; width:260px;" type="password" id="lname" name="confirm password" placeholder="enter your confim password"><br><br>
  <label style="color:white;">email:</label><br>
  <input style="height:35px; width:260px;"type="email" id="lname" name="email" placeholder="enter your email"><br><br>
  <input style="height:35px; width:150px;" type="submit" value="Submit" >
</form>

</body>
</html>